body {
    background-image: url(images/geometric-leaves.png);
    background-attachment: fixed;
}

h2 {
    color: blue;
}

a{
    text-decoration: underline;
}

h1 {
    letter-spacing: 0;
    text-shadow: 2px 2px red;
}

li{
    line-height: 2;
    word-spacing: 0px;
}