body {
    background-image: url(images/geometric-leaves.png);
    background-attachment: fixed;
}

h2 {
    color: blue;
}

a{
    text-decoration: underline;
}

h1 {
    letter-spacing: 0;
    text-shadow: 2px 2px 5px rgb(65, 63, 63);
    font-family: 'Roboto', sans-serif;
    border: 5px solid red;
    border-radius: 5px;
    margin: 50px 0;
    padding: 50px 0;
}

li{
    line-height: 2;
    word-spacing: 0px;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.recept>ul{
    background-color: red;
}

h2~ul{
    background-color: yellow;
}